/* CLASSES */
.about-container {
	display: flex;
	align-items: center;
}

.about-description {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px;
}

/* IDs */
#selfie {
	margin: 20px;
	height: 400px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
	.about-container {
		flex-direction: column;
	}

	.about-description {
		align-items: left;
	}

	#selfie {
		height: 350px;
	}
}
