/* GLOBAL */
html {
	margin: 0;
	padding: 0;

	background-color: #220011;
	color: #ffffff;

	font: normal 100%/1.4 Georgia,serif;
}

body {
	min-height: 400px;
	margin-bottom: 100px;
	clear: both;
}

a {
	color: #ffaa88;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #331122;

	text-align: center;
}
