/* GLOBAL */
html {
	margin: 0;
	padding: 0;

	background-color: #220011;
	color: #ffffff;

	font: normal 100%/1.4 Georgia,serif;
}

body {
	min-height: 400px;
	margin-bottom: 100px;
	clear: both;
}

a {
	color: #ffaa88;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #331122;

	text-align: center;
}

/* CLASSES */
.row:after{
	content:"";
	display:table;
	clear:both;
}

.column-left {
	float: left;
	width: 75%;
}

.column-right {
	float: right;
	margin-top: 15px;
	width: 24%;
	background-color: #331122;

	text-align: center;
}

/* Media Queries */
@media screen and (max-width: 700px){
	.column-left {
		width:100%;
	}

	.column-right {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.column-right .caption {
		margin-left: 10px;
	}

	.column-right .image {
		margin-right: 10px;
		width: 20%;
	}
}
