/* CLASSES */
.main-container {
	margin: 5px;
	padding: 0px 10px 0px 10px;
}

.main-container h2 {
	color: #aa0055
}

.main-container > ul {
	list-style-type: none;
}

.indented {
	text-indent: 3rem;
}
