---
---

@import 'config';
@import 'utilities';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    @include set-colors($light-color);
	font-family: $font-stack;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    font-weight: bold;
}

nav {
    @include set-colors($light-accent);
    margin: 1em 1em 0 1em;

    .nav__links {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            @include set-colors($light-accent);
            flex: 1;
            padding: 0.5em;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            transition: 500ms;

            &.current-page {
                @include set-colors($dark-accent);
            }

            &:hover {
                @include set-colors($dark-accent);
                transition: 500ms;
            }
        }
    }
}

main {
    height: 100%;
    margin: 1em;
}

footer {
    @include set-colors($dark-color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rule--light-color {
    border-color: $light-color;
}
.rule--light-magenta {
    border-color: $light-magenta;
}
.rule--light-red {
    border-color: $light-red;
}
.rule--light-yellow {
    border-color: $light-yellow;
}
.rule--light-green {
    border-color: $light-green;
}
.rule--light-blue {
    border-color: $light-blue;
}
.rule--dark-color {
    border-color: $dark-color;
}
.rule--dark-magenta {
    border-color: $dark-magenta;
}
.rule--dark-red {
    border-color: $dark-red;
}
.rule--dark-yellow {
    border-color: $dark-yellow;
}
.rule--dark-green {
    border-color: $dark-green;
}
.rule--dark-blue {
    border-color: $dark-blue;
}

@import '404';
@import 'home';
@import 'music';
@import 'masthead';
