* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #220011;
  color: #fff;
  font-family: normal 100%/1.4 Georgia, serif;
  height: 100%;
  margin-bottom: 20px;
}

.space-maintainer {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin-bottom: 3rem;
}
.main-container h2 {
  margin: 0.5rem 0;
}
.main-container h3 {
  margin: 0.5rem 0;
}
.main-container p {
  margin: 1rem 0;
}
.main-container a {
  color: #ff2266;
  text-decoration: none;
}

.poetry-post {
  padding: 1rem;
  margin: auto;
  width: 50%;
}
.poetry-post h2, .poetry-post h3, .poetry-post h5 {
  text-align: center;
}
.poetry-post hr {
  margin: 1rem 0;
}

.prose-post {
  padding: 1rem;
  margin: auto;
  width: 50%;
}
.prose-post h2, .prose-post h3, .prose-post h5 {
  text-align: center;
}
.prose-post hr {
  margin: 1rem 0;
}

.blog-post {
  padding: 1rem;
  margin: auto;
  width: 50%;
}
.blog-post h2, .blog-post h3, .blog-post h5 {
  text-align: center;
}
.blog-post hr {
  margin: 1rem 0;
}

.collection-post {
  padding: 1rem;
  margin: auto;
  width: 50%;
}
.collection-post h2, .collection-post h3, .collection-post h5 {
  text-align: center;
}
.collection-post hr {
  margin: 1rem 0;
}

.content {
  background-color: #3c001e;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
}
.content .block-quote {
  width: 90%;
  padding: 1rem;
  margin: auto;
  background: linear-gradient(to right, #55002b 0%, transparent 100%);
}
.content .italics {
  font-style: italic;
}
.content .monospace {
  font-family: monospace;
}
.content .attrib {
  padding: 0.3rem 0.5rem;
  padding-left: 1rem;
  margin: auto;
  background: linear-gradient(to right, #55002b 0%, transparent 100%);
  font-family: monospace;
}
.content div.highlight {
  padding: 0.5rem;
  margin: auto;
  background: linear-gradient(to right, #55002b 0%, transparent 100%);
  font-family: monospace;
}
.content pre.highlight {
  background: transparent;
}
.content p:first-child {
  margin-top: 0;
}
.content p:last-child {
  margin-bottom: 0;
}
.content li {
  margin-left: 2rem;
}
.content img {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #18000c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .copyright-container {
  margin: 0.4rem 0;
  font-size: 0.8rem;
}

.masthead {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-home.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-poetry {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-poetry.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-prose {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-prose.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-genuflectors {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-genuflectors.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-music {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-music.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-blog {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-blog.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-gallery {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-gallery.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

.masthead-about {
  padding: 1em;
  background: linear-gradient(to bottom, transparent 50%, #3c001e 100%), url("../img/masthead-about.jpg") no-repeat center center;
  background-size: cover;
  background-color: #3c001e;
  color: #fff;
}

nav .nav {
  background-color: #3c001e;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav .nav li {
  padding: 0.3rem 1rem;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
nav .nav li:first-of-type {
  margin-left: 2rem;
}
nav .nav li a {
  color: #ff88ad;
  text-decoration: none;
}
nav .nav li:hover {
  background-color: #310019;
  color: #fff;
}
nav .nav .current-page {
  background-color: #220011;
}
nav .nav .current-page a {
  color: #ffbbd0;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.row .column-left {
  width: 70%;
}
.row .column-right {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  align-items: center;
}
.row .column-right h3 {
  margin-bottom: 0;
}
.row .column-right .book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #310019;
  color: #fff;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.row .column-right .book-card .image {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.row .column-right .book-card .image .book-cover {
  height: 275px;
  width: auto;
}
.row .column-right .book-card .book-caption {
  background-color: #3c001e;
  color: #fff;
  margin-top: 0.75rem;
  padding: 1rem;
  text-align: center;
}
.row .column-right .book-card .book-links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1rem;
}
.row .column-right .book-card .book-links .book-button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #220011;
  color: #fff;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
.row .column-right .book-card .book-links .book-button:hover {
  background-color: #55002b;
  color: #fff;
}

.table-container {
  background-color: #220011;
  color: #fff;
  margin: auto;
  width: 90%;
}

.bottom-table {
  margin-bottom: 3rem;
}

table {
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
}
table td {
  cursor: pointer;
  border: 2px solid #3c001e;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
  transition: border 0.2s;
  transition-timing-function: linear;
}
table tbody tr {
  background-color: #3c001e;
  color: #fff;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
table tbody tr:hover {
  background-color: #310019;
  color: #fff;
}
table tbody tr:hover td {
  border: 2px solid #310019;
}

.meta-container {
  text-align: left;
}

.category {
  background-color: #3c001e;
  color: #fff;
  border-radius: 50px;
  padding: 2px 10px;
  text-transform: uppercase;
}

.category-poetry {
  background-color: #cb0643;
  color: #fff;
}

.category-prose {
  background-color: #116e6f;
  color: #fff;
}

.category-blog {
  background-color: #782287;
  color: #fff;
}

.category-memory {
  background-color: #cc6600;
  color: #fff;
}

.goto {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s;
  transition-timing-function: linear;
}

table tbody tr:hover .goto {
  background-color: #3c001e;
  color: #fff;
  opacity: 1;
}

.highlight pre {
  background-color: #55002b;
}

.highlight .hll {
  background-color: #55002b;
}

.highlight .c {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
}

/* Comment */
.highlight .err {
  color: #ffffff;
}

/* Error */
.highlight .g {
  color: #ffffff;
}

/* Generic */
.highlight .k {
  color: #fb660a;
  font-weight: bold;
}

/* Keyword */
.highlight .l {
  color: #ffffff;
}

/* Literal */
.highlight .n {
  color: #ffffff;
}

/* Name */
.highlight .o {
  color: #ffffff;
}

/* Operator */
.highlight .x {
  color: #ffffff;
}

/* Other */
.highlight .p {
  color: #ffffff;
}

/* Punctuation */
.highlight .cm {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
}

/* Comment.Multiline */
.highlight .cp {
  color: #ff0007;
  font-weight: bold;
  font-style: italic;
  background-color: #0f140f;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
}

/* Comment.Single */
.highlight .cs {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
}

/* Comment.Special */
.highlight .gd {
  color: #ffffff;
}

/* Generic.Deleted */
.highlight .ge {
  color: #ffffff;
}

/* Generic.Emph */
.highlight .gr {
  color: #ffffff;
}

/* Generic.Error */
.highlight .gh {
  color: #ffffff;
  font-weight: bold;
}

/* Generic.Heading */
.highlight .gi {
  color: #ffffff;
}

/* Generic.Inserted */
.highlight .go {
  color: #444444;
  background-color: #222222;
}

/* Generic.Output */
.highlight .gp {
  color: #ffffff;
}

/* Generic.Prompt */
.highlight .gs {
  color: #ffffff;
}

/* Generic.Strong */
.highlight .gu {
  color: #ffffff;
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gt {
  color: #ffffff;
}

/* Generic.Traceback */
.highlight .kc {
  color: #fb660a;
  font-weight: bold;
}

/* Keyword.Constant */
.highlight .kd {
  color: #fb660a;
  font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #fb660a;
  font-weight: bold;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #fb660a;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #fb660a;
  font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #cdcaa9;
  font-weight: bold;
}

/* Keyword.Type */
.highlight .ld {
  color: #ffffff;
}

/* Literal.Date */
.highlight .m {
  color: #0086f7;
  font-weight: bold;
}

/* Literal.Number */
.highlight .s {
  color: #0086d2;
}

/* Literal.String */
.highlight .na {
  color: #ff0086;
  font-weight: bold;
}

/* Name.Attribute */
.highlight .nb {
  color: #ffffff;
}

/* Name.Builtin */
.highlight .nc {
  color: #ffffff;
}

/* Name.Class */
.highlight .no {
  color: #0086d2;
}

/* Name.Constant */
.highlight .nd {
  color: #ffffff;
}

/* Name.Decorator */
.highlight .ni {
  color: #ffffff;
}

/* Name.Entity */
.highlight .ne {
  color: #ffffff;
}

/* Name.Exception */
.highlight .nf {
  color: #ff0086;
  font-weight: bold;
}

/* Name.Function */
.highlight .nl {
  color: #ffffff;
}

/* Name.Label */
.highlight .nn {
  color: #ffffff;
}

/* Name.Namespace */
.highlight .nx {
  color: #ffffff;
}

/* Name.Other */
.highlight .py {
  color: #ffffff;
}

/* Name.Property */
.highlight .nt {
  color: #fb660a;
  font-weight: bold;
}

/* Name.Tag */
.highlight .nv {
  color: #fb660a;
}

/* Name.Variable */
.highlight .ow {
  color: #ffffff;
}

/* Operator.Word */
.highlight .w {
  color: #888888;
}

/* Text.Whitespace */
.highlight .mf {
  color: #0086f7;
  font-weight: bold;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #0086f7;
  font-weight: bold;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #0086f7;
  font-weight: bold;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #0086f7;
  font-weight: bold;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #0086d2;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #0086d2;
}

/* Literal.String.Char */
.highlight .sd {
  color: #0086d2;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #0086d2;
}

/* Literal.String.Double */
.highlight .se {
  color: #0086d2;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #0086d2;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #0086d2;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #0086d2;
}

/* Literal.String.Other */
.highlight .sr {
  color: #0086d2;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #0086d2;
}

/* Literal.String.Single */
.highlight .ss {
  color: #0086d2;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #ffffff;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #fb660a;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #fb660a;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #fb660a;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #0086f7;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
.tags, .tags-cloud {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.tags-cloud {
  margin: auto;
  margin-bottom: 3rem;
}

.tag {
  background-color: #3c001e;
  color: #fff;
  margin: 0.2rem;
  padding: 0.1rem 0.3rem;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
.tag a {
  color: white;
  transition: color 0.2s;
  transition-timing-function: linear;
}
.tag:hover {
  background-color: #310019;
  color: #fff;
  cursor: pointer;
}
.tag:hover a {
  color: #ff2266;
}

.prose-collection {
  display: flex;
  align-items: center;
  background-color: #3c001e;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}
.prose-collection .collection-counter {
  margin: auto;
  text-align: center;
}
.prose-collection .collection-button {
  margin: auto;
}
.prose-collection .goto {
  background-color: #220011;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  opacity: 1;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
.prose-collection .goto:hover {
  background-color: #55002b;
  color: #fff;
}
.prose-collection a {
  color: #fff;
}
.prose-collection h3 {
  margin: 0;
}
.prose-collection p {
  margin: 0;
}

.music-container .card-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1rem;
}
.music-container .card-container .album-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #310019;
  color: #fff;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.music-container .card-container .album-card .album-title {
  text-align: center;
}
.music-container .card-container .album-card .album-art {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.music-container .card-container .album-card .album-art .album-image {
  height: 225px;
  width: auto;
}
.music-container .card-container .album-card .album-description {
  background-color: #3c001e;
  color: #fff;
}
.music-container .card-container .album-card .album-links {
  text-align: center;
  margin-top: 1rem;
}
.music-container .card-container .album-card .album-links .album-button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #220011;
  color: #fff;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
.music-container .card-container .album-card .album-links .album-button:hover {
  background-color: #55002b;
  color: #fff;
}
.music-container .card-container #adosr {
  grid-column: 1/2;
}
.music-container .card-container #ee-rm {
  grid-column: 2/3;
}
.music-container .card-container #tiiimdna {
  grid-column: 3/4;
}

.gallery-container .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.gallery-container .card-container .gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #310019;
  color: #fff;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.gallery-container .card-container .gallery-card .gallery-title {
  text-align: center;
}
.gallery-container .card-container .gallery-card .gallery-lead-art {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.gallery-container .card-container .gallery-card .gallery-lead-art .gallery-lead-image {
  height: 225px;
  width: auto;
}
.gallery-container .card-container .gallery-card .gallery-description {
  background-color: #3c001e;
  color: #fff;
  padding: 1rem;
}
.gallery-container .card-container .gallery-card .gallery-links {
  text-align: center;
  margin-top: 1rem;
}
.gallery-container .card-container .gallery-card .gallery-links .gallery-button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #220011;
  color: #fff;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
.gallery-container .card-container .gallery-card .gallery-links .gallery-button:hover {
  background-color: #55002b;
  color: #fff;
}
.gallery-container .card-container #gl {
  grid-column: 1/2;
}
.gallery-container .card-container #sn {
  grid-column: 2/3;
}
.gallery-container .gallery-content {
  margin: 1rem;
  padding: 1rem;
  background-color: #310019;
  color: #fff;
}
.gallery-container .gallery-content .gallery-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-container .gallery-content .gallery-collection .gallery-image {
  max-height: 200px;
  padding: 0.5rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.about-container .about-row {
  display: flex;
  align-items: center;
  background-color: #310019;
  color: #fff;
  width: 100%;
  margin: 0.5rem 0;
}
.about-container .about-row .about-image-container {
  display: flex;
  padding: 1rem;
}
.about-container .about-row .about-image-container .about-image {
  height: 275px;
  width: auto;
}
.about-container .about-row .about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}
.about-container .about-row .about-block .about-title {
  text-align: center;
}
.about-container .about-row .about-block .about-title h4 {
  margin-bottom: 1rem;
}
.about-container .about-row .about-block .about-title #contact-header {
  margin-bottom: 0;
}
.about-container .about-row .about-block .about-description {
  background-color: #3c001e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 0;
  padding: 10px 20px;
}
.about-container .about-row .about-block .about-description small {
  margin: 0.5rem 0;
}
.about-container .about-row .about-block .left {
  margin-right: 0;
}
.about-container .about-row .about-block .right {
  margin-left: 0;
}
.about-container .about-row .about-block .about-links {
  display: flex;
  margin-bottom: 1rem;
}
.about-container .about-row .about-block .about-links .about-button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #220011;
  color: #fff;
  transition: background-color 0.2s;
  transition-timing-function: linear;
}
.about-container .about-row .about-block .about-links .about-button:hover {
  background-color: #55002b;
  color: #fff;
}
.about-container .about-row .about-block .about-links #form-button {
  margin-top: 1rem;
}
.about-container .about-row .about-block .cf-container {
  background-color: #3c001e;
  color: #fff;
  margin-left: 1rem;
  padding: 1rem;
  width: 100%;
}
.about-container .about-row .about-block .cf-container label {
  color: #ffbbd0;
}
.about-container .about-row .about-block .cf-container input {
  width: 100%;
}
.about-container .about-row .about-block .cf-container textarea {
  resize: none;
}
.about-container .about-row .about-block .cf-container #body {
  width: 100%;
}
