---
---

@import 'config';
@import 'utils';

body {
    margin: 40px auto;
    padding: 0 10px;
    max-width: 700px;
    line-height: 1.6;
    font-size: 18px;
    font-family: $font-stack;
    color: $foreground;
    background-color: $background;
}

header {
    h1 {
        margin: 0;
    }

    .site-icon {
        width: 80px;
    }

    #main-banner {
        margin-bottom: 1em;
    }
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: $foreground;

    &#northstar {
        color: #ddf;
    }
}

nav {
    background-color: $background-light;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;

        li {
            display: flex;
            flex: 1;
            text-align: center;

            a {
                flex: 1;
                font-variant-caps: all-small-caps;
                font-weight: bold;
                transition: $transition-normal;

                &:hover {
                    background-color: $background-dark;
                }

                &.current-page {
                    background-color: $background-dark;
                }
            }
        }
    }
}

#strategy {
    margin: 1em 0;
}

@import 'card';
@import 'ticker';
@import 'content';
@import 'post';
@import 'music';
@import 'writing';
@import 'artwork';
@import 'about';
