/* CLASSES */
.album-container {
	display: flex;
	align-items: center;
}

.album-description {
	margin: 0 20px;
}

.album-art {
	display: flex;
}

.album-image {
	margin-right: 20px;
	height: 200px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
	.album-container {
		flex-direction: column;
	}
}
