// ABOUT
.about-container {
	display: flex;
    flex-direction: column;
	align-items: center;
    padding: 1rem;

    .about-row {
        display: flex;
        align-items: center;
        @include set-colors($primary-color-light-3);
        width: 100%;
        margin: 0.5rem 0;

        .about-image-container {
            display: flex;
            padding: 1rem;

            .about-image {
                height: auto;
                width: 30vw;
                max-width: 275px;
            }
        }

        .about-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 100%;

            .about-title {
                text-align: center;

                h4 {
                    margin-bottom: 1rem;
                }

                #contact-header {
                    margin-bottom: 0;
                }
            }

            .about-description {
                @include set-colors($primary-color-light-5);
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                margin-top: 0;
                padding: 10px 20px;

                small {
                    margin: 0.5rem 0;
                }
            }

            .left {
                margin-right: 0;
            }

            .right {
                margin-left: 0;
            }

            .about-links {
                display: flex;
                margin-bottom: 1rem;

                .about-button {
                    cursor: pointer;
                    text-align: center;
                    border: 0;
                    border-radius: 2px;
                    margin: 0 10px;
                    padding: 5px 10px;
                    @include set-colors($primary-color);
                    transition: background-color 0.2s;
                    transition-timing-function: linear;

                    &:hover {
                        @include set-colors($primary-color-light-10);
                    }
                }

                #form-button {
                    margin-top: 1rem;
                }
            }

            .cf-container {
                @include set-colors($primary-color-light-5);
                margin-left: 1rem;
                padding: 1rem;
                width: 90%;

                label {
                    color: $accent-color-light-30;
                }

                input {
                    width: 100%;
                }

                textarea {
                    resize: none;
                }

                #body {
                    width: 100%;
                }
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 800px) {
    .about-row {
        flex-direction: column;
    }

    .right, .left {
        margin: 0 10px 10px 10px!important;
    }

    .cf-container {
        margin-left: 0 !important;
    }
}

@media (max-width: 400px) {
    .about-links {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .about-button {
            width: 90%;
            margin: 0.2rem 0 !important;
        }
    }

    #form-button {
        margin-top: 1rem !important;
    }
}
