// ROWS
.row {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;

	.column-left {}

	.column-right {
		display: flex;
		flex-direction: column;
		flex-basis: 250px;
		align-items: center;

		.image {
			padding: 0 1rem;
			@include set-colors(lighten($primary-color, 5%));

			&:first-child {
				padding-top: 1rem;
			}

			img {
				width: 100%;
			}
		}

		.caption {
			padding: 0 1rem;
			@include set-colors(lighten($primary-color, 5%));
			text-align: center;
		}
	}
}
