// COLORS
$light-color: #daddd8;
$dark-color:  #171816;

$light-blue: #cbd9d0;
$dark-blue:  #a2cdbd;

$light-green: #dde4c9;
$dark-green:  #90a583;

$light-yellow: #e4ce9d;
$dark-yellow:  #e3b868;

$light-red: #ddc6c6;
$dark-red:  #ba5a5a;

$light-magenta: #81667a;
$dark-magenta:  #4a253b;

// FONTS
$font-stack: Palatino, "Palatino Linotype", "Palatino LT STD", serif;
