// COLORS
$primary-color: #220011;
$secondary-color: #aa0055;
$accent-color: #ff2233;
$poetry-color: #cb0643;
$prose-color: #116e6f;
$blog-color: #782287;

// FONTS
$font-stack: normal 100%/1.4 Georgia, serif;

// GLOBAL RESET
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
