// COLORS
$primary-color: #220011;
$primary-color-light-3: lighten($primary-color, 3%);
$primary-color-light-5: lighten($primary-color, 5%);
$primary-color-light-10: lighten($primary-color, 10%);
$primary-color-dark-2: darken($primary-color, 2%);

$secondary-color: #aa0055;

$accent-color: #ff2233;
$accent-color-light-20: lighten($accent-color, 20%);

$poetry-color: #cb0643;
$prose-color: #116e6f;
$blog-color: #782287;
$memory-color: #cc6600;

// FONTS
$font-stack: normal 100%/1.4 Georgia, serif;

// GLOBAL RESET
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
