// GALLERY
.gallery-container {
	.gallery-content {
		@include set-colors($primary-color-light-5);
		padding-top: 0.1rem;
		margin-top: 1rem;

		a {
			color: $accent-color-light-20;
		}

		.gallery-collection {
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;

			.gallery-image {
				margin: 5px;
				height: 200px;
			}
		}
	}
}
