// NAVIGATION
nav {
	.nav {
        background-color: $primary-color-light-5;
		list-style-type: none;
		display: flex;
        margin: 0;
        padding: 0;

		li {
			padding: 0.3rem 1rem;
            transition: background-color 0.2s;
            transition-timing-function: linear;

			&:first-of-type {
				margin-left: 2rem;
			}

			a {
				color: $accent-color-light-20;
				text-decoration: none;
			}

            &:hover {
                @include set-colors($primary-color-light-3);
            }
		}

		.current-page {
            background-color: $primary-color;

            a {
                color: $accent-color-light-30;
            }
		}
	}
}
