// NAVIGATION
.nav {
    width: 100%;
    @include set-colors($primary-color-light-5);
    position: relative;

    .nav-btn {
        display: none;
    }

    #nav-check {
        display: none;
    }

    .nav-links {
        display: inline;

        a {
            display: inline-block;
            padding: 0.3rem 1rem;
            text-decoration: none;
            color: $accent-color-light-20;
            transition: background-color 0.2s linear;

            &:hover {
                background-color: $primary-color;
            }

            &.current-page {
                background-color: $primary-color;
                color: $accent-color-light-10;
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 600px) {
    .nav {
        .nav-button {
            display: inline-block;
            position: relative;
            float: right;
            height: 23px;
            right: 0px;
            top: 0px;

            label {
                display: inline-block;
                padding: 0.5rem;
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: $primary-color;
                }

                span {
                    display: block;
                    width: 15px;
                    height: 5px;
                    border-top: 2px solid $accent-color-light-20;
                }
            }
        }

        .nav-links {
            position: absolute;
            display: block;
            width: 100%;
            background-color: $primary-color-light-5;
            height: 0;
            transition: all 0.2s ease-in;
            overflow-y: hidden;
            top: 23px;
            left: 0px;

            a {
                display: block;
                width: 100%;
            }
        }

        #nav-check:not(:checked) ~ .nav-links {
            height: 0px;
        }

        #nav-check:checked ~ .nav-links {
            height: calc(100vh);
            overflow-y: auto;
        }
    }
}
