// PROSE PAGE
.prose-collection {
	display: flex;
	align-items: center;
	@include set-colors($primary-color-light-5);
	padding: 0.5rem;
	cursor: pointer;

	.collection-counter {
        min-width: 75px;
		margin: auto;
        padding: 0 1rem;
		text-align: center;
	}

	.collection-button {
        min-width: 125px;
		margin: auto;
	}

	.goto {
		@include set-colors($primary-color);
		cursor: pointer;
		border: 0;
		border-radius: 2px;
		padding: 5px 10px;
		opacity: 1;
        transition: background-color 0.2s;
        transition-timing-function: linear;

		&:hover {
			@include set-colors($primary-color-light-10);
		}
	}

	a {
		color: #fff;
	}

	h3 {
		margin: 0;
	}

	p {
		margin: 0;
	}
}

// MEDIA QUERIES
@media (max-width: 600px) {
    .collection-info {
        p, small {
            display: none;
        }
    }

    .collection-button {
        display: none;
    }
}
