.tags {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;

	&-cloud {
		@extend .tags;
		margin: auto;
        margin-bottom: 3rem;
	}
}

.tag {
	@include set-colors($primary-color-light-5);
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
    transition: background-color 0.2s;
    transition-timing-function: linear;

	a {
		color: $accent-color-light-50;
        transition: color 0.2s;
        transition-timing-function: linear;
	}

	&:hover {
        @include set-colors($primary-color-light-3);
		cursor: pointer;

		a {
			color: $accent-color;
		}
	}
}
