@import 'config';
@import 'utilities';

html {
    height: 100%;
}

body {
	@include set-colors($primary-color);
	font-family: $font-stack;
    height: 100%;
	margin-bottom: 20px;
}

.main-container {
    margin: 1rem;
    margin-bottom: 10rem;

	h2 {
		margin: 0.5rem 0;
	}

	h3 {
		margin: 0.5rem 0;
	}

	p {
		margin: 1rem 0;
	}

	a {
		color: $accent-color;
		text-decoration: none;
	}
}

$post-types: (poetry, prose, blog);
@each $type in $post-types {
	.#{$type}-post {
        width: 50%;
        margin: auto;

        h2 {
            text-align: center;
        }

		h4 {
			margin: 1rem 0;
		}

		hr {
			margin: 1rem 0;
		}
	}
}

.content {
	@include set-colors($primary-color-light-5);
    margin-bottom: 3rem;

	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

    li {
        margin-left: 2rem;
    }

	div {
		.highlight {
			padding: 0.3rem 0.5rem;
		}
	}

	img {
        display: block;
		width: 85%;
        margin-left: auto;
        margin-right: auto;
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	@include set-colors($primary-color-dark-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.copyright-container {
		margin: 0.4rem 0;
		font-size: 0.8rem;
	}
}

@import 'masthead';
@import 'nav';
@import 'columns';
@import 'table';
@import 'fruity';
@import 'tags';
@import 'prose';
@import 'music';
@import 'gallery';
@import 'about';
