// COLORS
$ps-background: #04080c;
$ps-background-light-3: lighten($ps-background, 3%);
$ps-background-light-5: lighten($ps-background, 5%);
$ps-background-light-10: lighten($ps-background, 10%);
$ps-background-dark-2: darken($ps-background, 2%);

$ps-accent: desaturate(lighten($ps-background, 50%), 20%);
$ps-accent-light-30: lighten($ps-accent, 30%);

$ps-act-I: #00ffcc;
$ps-act-I-light-30: lighten($ps-act-I, 30%);

$ps-current-act: $ps-act-I;
$ps-current-act-light-30: lighten($ps-current-act, 30%);

// FONTS
$font-stack: Palatino, "Palatino Linotype", "Palatino LT STD", serif;

// GLOBAL RESET
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
