// MASTHEAD UTILS
@mixin set-masthead($gradient-color, $masthead-image) {
	padding:1em;
	background: linear-gradient(to bottom, transparent 50%, $gradient-color 100%), url("../img/PS/#{$masthead-image}.jpg") no-repeat center center;
	background-size: cover;
	@include set-colors($gradient-color);
}

// MASTHEADS
$ps-mastheads: (act-current, act-I);
@each $masthead in $ps-mastheads {
    .masthead-#{$masthead} {
        @include set-masthead($ps-background-light-5, masthead-#{$masthead});
    }
}
