// POSTS
.ps-post {
    padding: 1rem;
    margin: auto;
    width: 50%;

    h2, h5 {
        text-align: center;
    }

    hr {
        margin: 1rem auto;

        @each $act in $acts {
            &.act-#{$act} {
                border-color: getLightActColor($act);
            }
        }
    }

    .content {
        @include set-colors($ps-background-light-5);
        padding: 1rem;
        margin: 1rem 0;

        .block-quote {
            width: 90%;
            padding: 1rem;
            margin: auto;
            background: linear-gradient(to right, $ps-background-light-10 0%, transparent 100%);
        }

        .italics {
            font-style: italic;
        }

        .monospace {
            font-family: monospace;
        }
    }

    .ps-links {
        position: relative;
        margin-bottom: 4rem;

        .ps-button {
            background-color: $ps-accent-light-30;
            color: $ps-background;
            text-align: center;
            cursor: pointer;
            border: 0;
            border-radius: 2px;
            margin: 0 10px;
            padding: 5px 10px;
            min-width: 100px;
            width: 20%;
            transition: background-color 0.2s;
            transition-timing-function: linear;

            &:hover {
                background-color: $ps-accent;
            }
        }

        @each $act in $acts {
            .act-#{$act} {
                &:hover {
                    background-color: getActColor($act);
                }
            }
        }

        .prev {
            position: absolute;
            left: 0;
        }

        .next {
            position: absolute;
            right: 0;
        }
    }
}

// MEDIA QUERIES
@media (max-width: 800px) {
    .ps-post {
        width: 100%;
    }
}
