@import 'config';
@import 'utilities';

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    @include set-colors($ps-background);
    font-family: $font-stack;
    height: 100%;
}

// MAIN CONTAINERS
.space-maintainer {
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 30px;
}

.ps-main-container {
    @include set-colors($ps-background);

    .content-header {
        text-align: center;
    }

    .content-block {
        width: 90%;
        padding: 1rem;
        margin: auto;
        background: linear-gradient(to right, $ps-background-light-10 0%, transparent 100%);
    }

    .centered-text {
        text-align: center;
    }

    .mirrored-text {
        text-align: right;
    }

    .short-rule {
        width: 80%;
        margin: auto;
    }

	h2 {
		margin: 0.5rem 0;
	}

	h3 {
		margin: 0.5rem 0;
	}

	p {
		margin: 1rem 0;
	}

	a {
		color: $ps-accent;
		text-decoration: none;
	}
}

.full-width {
    width: 100%;
}

.ps-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	@include set-colors($ps-background-dark-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.copyright-container {
		margin: 0.4rem 0;
		font-size: 0.8rem;
	}
}

// MAIN PAGE COLUMNS
.row {
    display: flex;
    justify-content: space-between;

    .column-left {
        width: 40vw;
    }

    .column-right {
        width: 60vw;
    }
}

// MEDIA QUERIES
@media (max-width: 1000px) {
    .row {
        flex-direction: column-reverse;

        .column-left {
            width: 100%;
        }

        .column-right {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

@import 'masthead';
@import 'nav';
@import 'table';
@import 'posts';
