/* VARIABLES */

* {
    color-scheme: light dark;

    --body-max-w:       80ch;
    --small-nav-w:      3em;

    --font-lg:          20px;
    --font-md:          17px;
    --font-sm:          15px;

    --gap-lg:           2em;
    --gap-md:           1em;
    --gap-sm:           0.5em;
    --gap-header:       0.655em;

    --fg:               light-dark(#221c1d, #ffd7c0);
    --fg-dark:          light-dark(#624c4d, #ffaf8d);
    --bg:               light-dark(#feeede, #110e11);
    --bg-dark:          light-dark(#efddcd, #090609);
    --bg-light:         light-dark(#ae9e8e, #312e31);

    --accent-blog:      light-dark(#b405f2, #c07ad2);
    --accent-coding:    light-dark(#1290f1, #86e9fa);
    --accent-music:     light-dark(#0bad5e, #79f4c2);
    --accent-writing:   light-dark(#e2a904, #ffb060);
    --accent-artwork:   light-dark(#df721f, #f07860);
    --accent-about:     light-dark(#ca0027, #f02060);

    --link:             light-dark(#f95151, #f07080);

    --border:           1px solid;
    --border-thick:     3px solid;
    --radius-sm:        0.25rem;
    --radius-md:        0.5rem;

    --img-size:         200px;
}

/* DEFAULTS */

body {
    display: grid;
    grid-template-columns: 1fr var(--body-max-w) 1fr;
    gap: var(--gap-md);
    margin: 0 auto;
    padding: 0 var(--gap-md);
    line-height: 1.6;
    font-size: var(--font-md);
    color: var(--fg);
    background: var(--bg);
}

h1, h2, h3 {
    line-height: 1.2;
}

/* UTIL */

.centered {
    text-align: center;
}

/* LINKS */

a {
    color: var(--link);
    text-decoration: none;
    border-bottom: var(--border) transparent;
}

a:hover {
    border-bottom: var(--border) var(--link);
}

a[href*="#blog"],
section.blog a {
    color: var(--accent-blog);
}
a[href*="#blog"]:hover,
section.blog a:hover {
    border-color: var(--accent-blog);
}

a[href*="#coding"],
section.coding a {
    color: var(--accent-coding);
}
a[href*="#coding"]:hover,
section.coding a:hover {
    border-color: var(--accent-coding);
}

a[href*="#music"],
section.music a {
    color: var(--accent-music);
}
a[href*="#music"]:hover,
section.music a:hover {
    border-color: var(--accent-music);
}

a[href*="#writing"],
a.link--writing,
section.writing a {
    color: var(--accent-writing);
}
a[href*="#writing"]:hover,
a.link--writing:hover,
section.writing a:hover {
    border-color: var(--accent-writing);
}

a[href*="#artwork"],
section.artwork a {
    color: var(--accent-artwork);
}
a[href*="#artwork"]:hover,
section.artwork a:hover {
    border-color: var(--accent-artwork);
}

a[href*="#about"],
section.about a {
    color: var(--accent-about);
}
a[href*="#about"]:hover,
section.about a:hover {
    border-color: var(--accent-about);
}

/* EXTERNAL LINKS */

a[href*="//"]:after {
    font-weight: 300;
    font-size: 0.85em;
    content: "\2197";
    color: var(--fg);
    opacity: 0.25;
}

a[href*="//"]:hover:after {
    opacity: 1;
}

.ignore-ext a[href*="//"]:after {
    content: "";
}

/* WEBRINGS */

.webring {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webring p {
    margin: 0;
}

.webring > div {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
}

.webring .divider {
    font-size: var(--font-md);
}

/* INLINE FOOTNOTES */

label {
    color: var(--fg-dark);
    cursor: pointer;
    font-size: 0.8em;
    vertical-align: super;
}

label:hover {
    color: var(--link);
}

label:before { content: "["; }
label:after { content: "]"; }

label + input,
label + input + small {
    display: none;
}

input:checked + small {
    display: block;
    padding: var(--gap-md) var(--gap-lg);
}

/* CODE BLOCKS */

code {
    background: var(--bg);
    border: var(--border) var(--bg-light);
    border-left: var(--border-thick) var(--fg-dark);
    border-radius: var(--radius-md);
    font-family: monospace;
    font-size: calc(var(--font-sm) - 2px);
    max-width: 100%;
    overflow-x: scroll;
    padding: var(--gap-md);
    display: block;
}

code.inline {
    border: var(--border) var(--bg-light);
    border-radius: var(--radius-sm);
    padding: calc(var(--gap-sm) / 2) var(--gap-sm);
    display: inline;
}

/* TABLES */

table {
    width: 100%;
    font-size: var(--font-sm);
    border-collapse: collapse;
}

table.headerless tr:first-of-type td {
    border-top: var(--border) var(--bg-light);
}

table.initial-center tr th:first-of-type,
table.initial-center tr td:first-of-type {
    text-align: center;
}

table th {
    text-align: left;
    padding: var(--gap-sm);
    border-bottom: var(--border-thick) var(--bg-light);
}

table td {
    padding: var(--gap-sm);
    border-bottom: var(--border) var(--bg-light);
}

/* CONTAINERS */

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* MASTHEAD */

.masthead {
    width: 100%;
    border-radius: var(--radius-md);
}

/* SHOWCASES */

.showcase {
    display: flex;
    margin-top: var(--gap-md);
    margin-bottom: var(--gap-md);
}

.showcase img {
    width: 25%;
    margin-bottom: auto;
}

.showcase .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: var(--gap-md);
}

.showcase .info span {
    color: var(--fg-dark);
}

.showcase .info table th {
    width: 50%;
}

.showcase .info table:first-of-type th:nth-of-type(2) {
    text-align: center;
}

.showcase .info table:nth-of-type(2) tr {
    display: flex;
    justify-content: space-around;
}

.showcase .info table:nth-of-type(2) td {
    width: 100%;
    text-align: center;
}

/* SIDEBAR NAV */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

header > div {
    display: flex;
    gap: var(--gap-md);
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: var(--gap-md) 0;
    border-bottom: var(--border) var(--bg-light);
}

header > div > div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

header img {
    height: 2em;
    border-radius: var(--radius-md);
}

header h1 {
    margin: 0;
    font-size: 1em;
    font-variant-caps: small-caps;
    white-space: nowrap;
}

nav {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: end;
    margin-top: var(--gap-md);
}

nav a {
    font-variant-caps: small-caps;
}

nav a:not(:hover) {
    border-bottom: 1px solid transparent;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-sm);
    align-items: end;
    width: 100%;
    padding-bottom: var(--gap-md);
}

footer img[src*="rss.jpg"] {
    height: var(--font-sm);
    border-radius: var(--radius-sm);
}

/* MAIN */

main {
    background: var(--bg-dark);
}

section {
    padding: var(--gap-md);
}

section,
section:target ~ #home,
#home:has(~ section:target) {
    display: none;
}

#home, section:target {
    display: block;
}

section h2 {
    margin-top: var(--gap-header);
    padding-bottom: var(--gap-sm);
    border-bottom: var(--border) var(--fg);
    font-variant-caps: small-caps;
}

/* HOME */

section#home h2 {
    border-color: var(--link);
}

section#home h3,
section#home h4 {
    padding-bottom: var(--gap-sm);
    border-bottom: var(--border);
}

/* BLOG */

section.blog h2,
section.blog h3,
section.blog h4 {
    border-color: var(--accent-blog);
}

.post__header h2 {
    margin-bottom: var(--gap-header);
}

.content h3,
.content h4 {
    padding-bottom: var(--gap-sm);
    border-bottom: var(--border);
}

.content h5 {
    font-size: 1em;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--fg);
}

.content a[href="#music"] {
    color: var(--accent-music);
}
.content a[href="#music"]:hover {
    border-color: var(--accent-music);
}

.content figure {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    align-items: center;
    padding-bottom: var(--gap-sm);
    border-bottom: var(--border) var(--bg-light);
}

.content figure img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: var(--radius-md);
}

.content figure figcaption {
    font-size: var(--font-sm);
    font-style: italic;
}

.content figure figcaption:before {
    content: 'Fig /';
    color: var(--fg-dark);
}

.content s {
    text-decoration-color: red;
}

.content blockquote {
    font-size: var(--font-sm);
    background: var(--bg);
    margin: 0;
    padding: var(--gap-md);
    border: var(--border) var(--bg-light);
    border-left: var(--border-thick) var(--accent-blog);
    border-radius: var(--radius-md);
}

.content blockquote.note > b {
    color: var(--fg-dark);
    text-decoration: underline;
}

.content details summary {
    color: var(--accent-blog);
    cursor: pointer;
}

.content details summary:hover {
    text-decoration: underline;
}

/* CODING */

section#coding h2 {
    border-color: var(--accent-coding);
}

/* MUSIC */

section.music h2 {
    border-color: var(--accent-music);
}

section.music details summary {
    font-size: var(--font-sm);
    text-align: center;
    background: var(--bg-light);
    cursor: pointer;
}

section.music details table tr td:first-of-type {
    width: 4ch;
    text-align: center;
}

section.music details table tr.new-disc {
    border-top: var(--border-thick) var(--bg-light);
}

/* WRITING */

section.writing h2 {
    border-color: var(--accent-writing);
}

/* ARTWORK */

section.artwork h2 {
    border-color: var(--accent-artwork);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--img-size), 1fr));
    grid-auto-flow: dense;
    gap: var(--gap-lg);
    padding: var(--gap-md);
}

.gallery a {
    position: relative;
    border: 0;
}

.gallery a:hover {
    transform: scale(0.975);
}

.gallery a:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.gallery a img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* LIGHTBOXES */

.lightbox {
    display: none;
    color: var(--fg);
}

.lightbox:target {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    align-content: center;
    background: var(--bg-dark);
    border: 0;
    z-index: 1;
}

.lightbox img {
    max-height: min(100vh, 100vw);
    z-index: 2;
}

.lightbox:target:before {
    content: '';
    height: 2em;
    width: 2em;
    animation: spin 0.8s infinite linear;
    border: 1px solid;
    border-right-color: transparent;
    border-radius: 50%;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0.25;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lightbox:target:after {
    content: '\00D7';
    position: fixed;
    top: 0.75em;
    right: 0.5em;
    font-size: 2em;
    font-weight: 200;
    line-height: 0;
    z-index: 2;
}

/* ABOUT */

section.about h2 {
    border-color: var(--accent-about);
}

section.about h3 {
    padding-bottom: var(--gap-sm);
    border-bottom: var(--border) var(--accent-about);
}

section.about img {
    width: 100%;
    border-radius: var(--radius-md);
}

/* HASH PAGES */

section#log h3,
section#now h3,
section#colophon h3 {
    padding-bottom: var(--gap-sm);
    border-bottom: var(--border);
}

section#log details {
    margin-top: var(--gap-md);
}

section#log summary {
    color: var(--fg-dark);
    font-weight: bold;
    padding: var(--gap-sm);
    margin-bottom: var(--gap-md);
    border-top: var(--border) var(--bg-light);
    border-bottom: var(--border) var(--bg-light);
    cursor: pointer;
}

section#log img {
    max-width: 100%;
    margin: auto;
    border-radius: var(--radius-md);
}

section#now #now-status {
    color: var(--fg-dark);
}

section#now table td.to-do {
    color: lime;
}
section#now table td.in-progress{
    color: gold;
}
section#now table td.paused {
    color: red;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    body {
        grid-template-columns: var(--small-nav-w) 1fr;
        gap: 0;
        padding: 0;
        font-size: var(--font-sm);
    }

    header > div {
        justify-content: center;
        padding: calc(var(--small-nav-w) / 4);
    }

    header > div > div {
        display: none;
    }

    header > div img {
        height: calc(var(--small-nav-w) / 2);
    }

    nav {
        align-items: center;
        width: 100%;
    }

    nav a {
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        border-bottom: none !important;
    }
    nav a:hover {
        border-bottom: none !important;
        border-left: var(--border);
    }

    footer {
        display: none;
    }

    section.blog figure {
        margin: 0;
    }

    section.blog figure + figure {
        margin-top: var(--gap-md);
    }
}

@media only screen and (max-width: 800px) {
    .two-column {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 550px) {
    .showcase {
        flex-direction: column;
        gap: var(--gap-md);
    }

    .showcase img {
        width: 70%;
        margin: 0 auto;
    }

    .showcase .info {
        padding: 0;
    }
}
