---
layout: default
title: Gallery
meta: Original artwork adn digital images by Ben Buchanan.
---

<div class="gallery-container">
    {% for collection in site.data.gallery_collections %}
    {% assign ascii_name = collection.title | slugify: 'ascii' %}

    <div class="gallery-container__card" onclick="location.href = '/gallery/{{ ascii_name }}'">
        <div class="gallery-container__info">
            <div class="gallery-container__header">
                <div class="gallery-container__header-tease">
                    <h2>{{ collection.title }}</h2>
                    <h3 class="tease">
                        See All&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>
                    </h3>
                </div>
                <hr class="rule--light-yellow">
            </div>

            <div class="gallery-container__blurbs">
                {% for text in collection.blurbs %}
                <p>{{ text }}</p>
                {% if forloop.last == false %}<br>{% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="gallery-container__buttons">
            <a class="colored-button--yellow" href="/gallery/{{ ascii_name }}">
                View Collection&nbsp;&nbsp;<i class="fas fa-image"></i>
            </a>
        </div>

        <div class="gallery-container__image--{{ ascii_name }}"></div>
    </div>
    {% endfor %}
</div>
