{% assign collection = site.data.gallery_collections | where: 'title', include.title | first %}
<div class="gallery-container">
    {% assign num_images = collection.images.size %}
    {% assign third = num_images | divided_by: 3.0 | ceil %}
    {% for i in (0..2) %}
    <div class="gallery-container__column">
        {% assign offset = i | times: third %}
        {% assign pics = collection.images | slice: offset, third %}
        {% for pic in pics %}
        <div class="gallery-container__captioned-image">
            <img src="/assets/gallery/{{ page.title }}/{{ pic | slugify: 'ascii' }}.jpg"></img>
            <p>{{ pic }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
