{% for album in site.data.album_info[page.title] %}
{% assign artist = page.title | slugify: ascii %}
{% assign album_title = album.title | slugify: ascii %}
<div class="album__header">
    <img
        class="album__artwork"
        src="/assets/music/{{ artist }}/{{ album_title }}.jpg"
    />

    <div no-hover class="card">
        <div class="card__content">
            <div class="card__text small-caps">
                <h2>{{ album.title }}</h2>
            </div>
            <div class="card__date">
                <h3>{{ album.released | date: "%b %d" }}</h3>
                <h2 class="year">{{ album.released | date: "%Y" }}</h2>
            </div>
        </div>
    </div>
</div>

{{ album.embed | replace: "linkcol=e99708", "linkcol=fa8f38" }}

<div class="dark content__blurb half-margin-top">
    <p>{{ album.blurb }}</p>
</div>

<details class="tracklist">
    <summary class="tracklist__header">Tracklist</summary>
    {% if album.multidisc %}
        {% assign discnum = 1 %}
        {% assign tracknum = 1 %}
        {% for disc in album.discs %}
            <div class="tracklist__disc">Disc {{ discnum }}</div>
            {% assign discnum = discnum | plus: 1 %}

            {% for track in disc.tracks %}
                <div class="tracklist__track">{{ tracknum }}. {{ track }}</div>
                {% assign tracknum = tracknum | plus: 1 %}
            {% endfor %}
        {% endfor %}
    {% else %}
        {% assign tracknum = 1 %}
        {% for track in album.tracks %}
            <div class="tracklist__track">{{ tracknum }}. {{ track }}</div>
            {% assign tracknum = tracknum | plus: 1 %}
        {% endfor %}
    {% endif %}
</details>

<hr class="discog__break">
{% endfor %}
