<nav>
    <ul>
        <li>
            <a {% if page.url == '/' %}class="current-page"{% endif %}href="/">
                Home
            </a>
        </li>
        <li>
            <a {% if page.url contains '/blog/' %}class="current-page"{% endif %}href="/blog">
                Blog
            </a>
        </li>
        <li>
            <a {% if page.url contains '/coding/' %}class="current-page"{% endif %}href="/coding">
                Coding
            </a>
        </li>
        <li>
            <a {% if page.url contains '/music/' %}class="current-page"{% endif %}href="/music">
                Music
            </a>
        </li>
        <li>
            <a {% if page.url contains '/writing/' %}class="current-page"{% endif %}href="/writing">
                Writing
            </a>
        </li>
        <li>
            <a {% if page.url contains '/artwork/' %}class="current-page"{% endif %}href="/artwork">
                Artwork
            </a>
        </li>
        <li>
            <a {% if page.url contains '/about/' %}class="current-page"{% endif %}href="/about">
                About
            </a>
        </li>
    </ul>
</nav>
