<nav>
	<ul class="nav {{include.navclass}}">
		<li><a href="{{site.baseurl}}/" {% if page.url == '/' %}class="current-page"{% endif %}>Home</a></li>
		<li><a href="{{site.baseurl}}/poetry/" {% if page.url contains 'poetry' %}class="current-page"{% endif %}>Poetry</a></li>
		<li><a href="{{site.baseurl}}/prose/" {% if page.url contains 'prose' %}class="current-page"{% endif %}>Prose</a></li>
		<li><a href="{{site.baseurl}}/music/" {% if page.url contains 'music' %}class="current-page"{% endif %}>Music</a></li>
		<li><a href="{{site.baseurl}}/blog/" {% if page.url contains 'blog' %}class="current-page"{% endif %}>Blog</a></li>
		<li><a href="{{site.baseurl}}/about/" {% if page.url contains 'about' %}class="current-page"{% endif %}>About</a></li>
	</ul>
</nav>
