<nav>
	<ul class="nav {{include.navclass}} my-1">
		<li {% if page.url == '/' %}class="current-page"{% endif %}><a href="/">Home</a></li>
		<li {% if page.url contains 'poetry' %}class="current-page"{% endif %}><a href="/poetry/">Poetry</a></li>
		<li {% if page.url contains 'prose' %}class="current-page"{% endif %}><a href="/prose/">Prose</a></li>
		<li {% if page.url contains 'music' %}class="current-page"{% endif %}><a href="/music/">Music</a></li>
		<li {% if page.url contains 'blog' %}class="current-page"{% endif %}><a href="/blog/">Blog</a></li>
		<li {% if page.url contains 'gallery' %}class="current-page"{% endif %}><a href="/gallery/">Gallery</a></li>
		<li {% if page.url contains 'about' %}class="current-page"{% endif %}><a href="/about/">About</a></li>
	</ul>
</nav>
