<div class="ps-nav {{include.actClass}}">
    <input type="checkbox" id="ps-nav-check">
    <div class="ps-nav-button">
        <label for="ps-nav-check">
            <i class="fa fa-bars {{include.actClass}}-button"></i>
        </label>
    </div>
    <div class="ps-nav-links">
		<a {% if page.url == '/petrichor/' %}class="current-page"{% endif %} href="/petrichor/">Main</a>
		<a {% if page.url contains 'act_i/' %}class="current-page"{% endif %} href="/petrichor/act_i/">Act I</a>
    </div>
</div>
