<div class="post-list-container">
    <div class="post-list__info">
        <div class="post-list__header">
            <h2>All {{ include.category | capitalize }} Posts</h2>
            <hr class="rule--light-{{ include.color }}">
        </div>

        <div class="post-list__labels">
            <h4>Title</h4>
            <h4>Date</h4>
            <h4></h4>
        </div>
    </div>

    <hr>

    {% for post in site.categories[include.category] %}
    <div class="post-list__post" onclick="location.href = '{{ post.url }}'">
        <div class="post__meta">
            <h3>{{ post.title }}</h3>
            {% if post.meta %}
                <p>{{ post.meta }}</p>
            {% else %}
                {% assign excerpt_pieces = post.excerpt | strip_html | newline_to_br | normalize_whitespace | split: '<br />' %}
                <p>{{ excerpt_pieces | join: ' / ' }}</p>
            {% endif %}
        </div>
        <div class="post__date">
            <p>{{ post.date | date: "%B %d, %Y" }}</p>
        </div>
        <div class="post__link">
            <a class="colored-button--{{ include.color }}" href="{{ post.url }}">
                Read More&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
