<h2>All {{ include.category | capitalize }} Posts</h2>

<div class="post-table">
    <div class="post-table__row">
        <div class="post-table__title-header">Title</div>
        <div class="post-table__date-header">Date Published</div>
    </div>
    {% for post in site.categories[include.category] %}
    <a href="{{ post.url }}">
        <div class="post-table__row">
            <div class="post-table__title-cell {{ include.category }}-color">
                {{ post.title }}
            </div>
            <div class="post-table__date-cell {{ include.category }}-color">
                {{ post.date | date: "%B %d, %Y" }}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
