.artwork__container {
    width: 100%;

    .captioned-image {
        p {
            margin-bottom: 0;
            width: 100%;
            text-align: center;
            font-weight: bold;
            background-color: $background-dark;
        }

        img {
            width: 100%;
        }
    }
}
