// COLORS
$light-color:  #daddd8;
$light-accent: darken($light-color, 10%);
$dark-color:   #171816;
$dark-accent:  lighten($dark-color, 10%);

$light-blue: #729d8d;
$dark-blue:  #325d4d;

$light-green: #90a583;
$dark-green:  #506543;

$light-yellow: #c3984d;
$dark-yellow:  #93681d;

$light-red: #ba5a5a;
$dark-red:  #7a1a1a;

$light-magenta: #81667a;
$dark-magenta:  #4a253b;

// FONTS
$font-stack: Palatino, "Palatino Linotype", "Palatino LT STD", serif;
