@mixin grid-container($columns: 1fr,
                      $rows: 1fr,
                      $gap: 1rem 1rem,
                      $height: 100%) {
    height: $height;
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
}

@mixin flexbox($height: 100%,
               $direction: row,
               $justify: normal,
               $align: normal) {
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin card($normal-bg: $light-accent,
            $hover-bg: $dark-color,
            $height: 100%,
            $direction: row,
            $justify: space-between,
            $align: normal) {
    @include flexbox($height: $height,
                     $direction: $direction,
                     $justify: $justify,
                     $align: $align);
    @include set-colors($normal-bg);
    transition: $normal-transition;

    &:hover {
        @include set-colors($hover-bg);
    }
}
