$collections: 'strange-negatives', 'genius-loci', 'illogical-sketches';

.gallery-container {
    flex: 1;
    @include grid-container($columns: 1fr 1fr 1fr);

    .gallery-container__card {
        @include card($direction: column);

        &:hover {
            cursor: pointer;

            .gallery-container__info {
                .gallery-container__header {
                    .gallery-container__header-tease {
                        .tease {
                            color: $light-color;
                        }
                    }
                }
            }

            @each $collection in $collections {
                // Upon card hover, transition the gradients
                .gallery-container__image--#{$collection}::before {
                    opacity: 1;
                }
            }
        }

        .gallery-container__info {
            @include flexbox($direction: column, $justify: space-between);
            padding: 1em 1em 0 1em;

            .gallery-container__header {
                flex: 0;
                padding-bottom: 1em;

                .gallery-container__header-tease {
                    @include flexbox($justify: space-between, $align: center);

                    .tease {
                        color: $light-accent;
                        transition: $normal-transition;
                    }
                }
            }

            .gallery-container__blurbs {
                @include flexbox($direction: column, $justify: space-around);
            }
        }

        .gallery-container__buttons {
            display: grid;
            padding: 1em;
        }

        @each $collection in $collections {
            // Create default appearance
            .gallery-container__image--#{$collection} {
                height: 100%;
                position: relative;
                @include gradient-image("../assets/gallery/#{$collection}.jpg",
                                        $light-accent,
                                        top);
                z-index: 2;
            }
            // Stow an invisible transition appearance beneath the default
            .gallery-container__image--#{$collection}::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                @include gradient-image("../assets/gallery/#{$collection}.jpg",
                                        $dark-color,
                                        top);
                z-index: 1;
                opacity: 0;
                transition: opacity $normal-transition;
            }
        }
    }

    .gallery-container__column {
        .gallery-container__captioned-image {
            @include set-colors($dark-accent);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1em;
            border: 2px solid $dark-accent;

            img {
                width: 100%;
                height: auto;
            }

            p {
                font-weight: bold;
                padding: 0.5em 1em;
            }
        }
    }
}

// Tablet Dimensions
@media (max-width: 1000px) {
    .gallery-container {
        grid-template-columns: 1fr;

        .gallery-container__card > div {
            &:nth-of-type(3) {
                display: none;
            }
        }
    }
}
