.home-card__container {
    background: $background-light;
    transition: $transition-normal;

    &:hover {
        background: $background-dark;
    }

    .home-card {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        margin-top: 1em;

        &:last-child {
            margin-bottom: 1em;
        }

        &.coding {
            background: linear-gradient(to right, $coding-color, transparent 200px);
        }
        &.music {
            background: linear-gradient(to right, $music-color, transparent 200px);
        }
        &.writing {
            background: linear-gradient(to right, $writing-color, transparent 200px);
        }
        &.artwork {
            background: linear-gradient(to right, $artwork-color, transparent 200px);
        }
        &.about {
            background: linear-gradient(to right, $about-color, transparent 200px);
        }

        .home-card__content {
            display: flex;
            flex-direction: column;
            align-items: end;

            h2 {
                line-height: 1.0;
                margin-bottom: 0.7em;
                margin-right: 1em;
            }

        }
    }
}
