.music-card__container {
    background: $background-light;
    transition: $transition-normal;

    &:hover {
        background: $background-dark;
    }

    .music-card {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 1em;
        background: linear-gradient(to right, $music-color, transparent 200px);

        h2 {
            line-height: 1.0;
            margin-bottom: 0.7em;
            margin-right: 1em;
        }

        &:last-child {
            margin-bottom: 1em;
        }
    }
}

.music-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    background: linear-gradient(to bottom, $music-color, $background-light 250px);

    strong {
        font-size: 20px;
    }
}

.music-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;

    a {
        text-align: center;
        width: 45%;
        padding: 0.5em;
        background-color: $music-color;

        &:hover {
            background-color: $background-dark;
        }
    }
}

.tracklist {
    width: 100%;

    .tracklist__header {
        background-color: $background-dark;
        padding: 0.25em 1em;
    }

    .tracklist__disc {
        background-color: $music-color-dark;
        padding: 0.25em 1em;
    }

    .tracklist__track {
        padding: 0.25em 1em;
        background-color: $background-light;

        &:nth-child(even) {
            background-color: $music-color;
        }
    }

    &:last-of-type {
        margin-bottom: 1em;
    }
}
