.music-container {
    flex: 1;
    @include grid-container($columns: 1fr 3fr 1fr);

    .music-container__card {
        @include card($direction: column);
        max-width: 60vw;
        padding: 1em;

        @include colored-buttons($light-magenta, $dark-magenta);

        iframe {
            border: 0;
            height: 100%;
            max-width: 700px;
            max-height: 700px;
            min-width: 200px;
            min-height: 200px;
            aspect-ratio: 1/1;
        }

        .music-container__info {
            min-height: 20px;
        }

        .music-container__album-showcase {
            flex: 2;
            @include flexbox($align: center);

            & > div {
                flex: 1;
                @include flexbox($direction: column, $justify: space-between);
            }

            .side-album {
                width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }

            div {
                width: 100%;
            }
        }

        .music-container__discog {
            flex: 1;
            @include flexbox($align: center);

            .mini-album {
                height: 50%;
            }
        }
    }
}
