.post__container {
    display: flex;
    flex-direction: column;

    hr {
        margin: 1em 0;
    }

    .post__content {
        background: $background-light;
        margin-bottom: 0.5em;
        padding: 1em;

        .attrib {
            background: linear-gradient(to right, $background-dark, page-color(blog) 80%);
            padding: 0.5em 1em;
        }

        p {
            margin-top: 0;
        }

        a {
            transition: $transition-normal;
            color: $link-color;
            text-decoration: underline;

            &:hover {
                color: $link-hover-color;
            }
        }

        img {
            display: block;
            width: 100%;
            margin: auto;
        }

        ul {
            list-style-type: square;
            border-left: 5px solid page-color(blog);
            background: $background-dark;
            padding: 1em 1em 1em 2em;

            li {
                margin: 0.5em 0;

                &:first-of-type {
                    margin: 0;
                }
                &:last-of-type {
                    margin: 0;
                }

                &::marker {
                    color: $link-color;
                }
            }
        }
    }
}
