.post-title {
    margin-bottom: 0.25em;
}

.post-date {
    margin-top: 0.25em;
}

.post-container {
    margin: 1em 0;
    padding: 1px 1em;

    &.blog-color {
        background: linear-gradient(to bottom, $blog-color, $background-light 250px);
    }
    &.music-color {
        background: linear-gradient(to bottom, $music-color, $background-light 250px);
    }
    &.writing-color {
        background: linear-gradient(to bottom, $writing-color, $background-light 250px);
    }
    &.artwork-color {
        background: linear-gradient(to bottom, $artwork-color, $background-light 250px);
    }

    a {
        color: $link-color;

        &:hover {
            color: $link-hover-color;
        }
    }

    img {
        width: 100%;
    }
}

.post-table {
    width: 100%;

    a {
        &:nth-child(even) {
            .post-table__title-cell,
            .post-table__date-cell {
                &.blog-color {
                    background-color: $blog-color;
                }
                &.music-color {
                    background-color: $music-color;
                }
                &.writing-color {
                    background-color: $writing-color;
                }
                &.artwork-color {
                    background-color: $artwork-color;
                }
            }
        }

        &:hover {
            .post-table__title-cell,
            .post-table__date-cell {
                background-color: $background-dark !important;
            }
        }
    }

    .post-table__row {
        margin-top: 1px;
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-gap: 1px;

        .post-table__title-header,
        .post-table__date-header {
            text-align: center;
            font-weight: bold;
            background-color: $background-dark;
        }

        .post-table__title-cell,
        .post-table__date-cell {
            padding: 10px 0;
            background-color: $background-light;
        }

        .post-table__title-cell {
            padding-left: 1em;
            padding-right: 1em;
        }

        .post-table__date-cell {
            text-align: center;
        }
    }
}

.latest-posts-table {
    width: 100%;
    margin-bottom: 1em;

    a {
        .latest-posts-table__category-cell {
            &.blog-color {
                background-color: $blog-color;
            }
            &.music-color {
                background-color: $music-color;
            }
            &.writing-color {
                background-color: $writing-color;
            }
            &.artwork-color {
                background-color: $artwork-color;
            }
        }

        &:nth-child(even) {
            .latest-posts-table__title-cell,
            .latest-posts-table__date-cell {
                background-color: $home-color;
            }
        }

        &:hover {
            .latest-posts-table__title-cell,
            .latest-posts-table__date-cell {
                background-color: $background-dark !important;
            }
        }
    }

    .latest-posts-table__row {
        margin-top: 1px;
        display: grid;
        grid-template-columns: 1fr 17fr 13fr;
        grid-gap: 1px;

        .latest-posts-table__category-header,
        .latest-posts-table__title-header,
        .latest-posts-table__date-header {
            text-align: center;
            font-weight: bold;
            background-color: $background-dark;
        }

        .latest-posts-table__title-cell,
        .latest-posts-table__date-cell {
            padding: 10px 0;
            background-color: $background-light;
        }

        .latest-posts-table__title-cell {
            padding-left: 1em;
            padding-right: 1em;
        }

        .latest-posts-table__date-cell {
            text-align: center;
        }
    }
}
