.ticker__wrap {
    overflow: hidden;
}

.ticker__move {
    display: flex;
    animation: ticker-scroll linear 10s infinite;

    &:hover {
        animation-play-state: paused;
    }
}

.ticker__item {
    width: 100%;
    flex-shrink: 0;
}

@keyframes ticker-scroll {
    0%   { transform: translatex(105%); }
    100% { transform: translatex(-250%); }
}
