---
layout: default
title: About
meta: Information about Ben Buchanan.
---

{% include page-header.html icon-path="about/about-icon.svg" text="About Me" %}

<img id="me" src="/assets/about/me.jpg"></img>

<div class="about content__blurb half-margin-top">
    <p>
    My name is Ben Buchanan, and I made the stuff you're looking at on this
    site. Sometimes I write, sometimes I make music, sometimes I create art.
    Perhaps I might spend a week straight programming some tool or interface.
    Or maybe I'll spend far too much time ignoring this site and playing video
    games, Netrunner, and online riichi mahjong.
    </p>

    <p>
    I also have a day job where I type on a keyboard and sit in a nice office
    chair. Not every day is a creative one, and that's okay.
    </p>

    <p>
    I hope you enjoy the stuff I make, or find something interesting on the
    site. Thanks for visiting, and be well.
    </p>
</div>

<hr>

<div no-hover id="elsewhere__header" class="dark card">
    <div class="card__content left-justify">
        <div class="card__text small-caps">
            <h2>Find Me Elsewhere</h2>
        </div>
    </div>
</div>

<div class="card__stack">
    {% for card in site.data.about_cards %}
    <a href="{{ card.link }}">
    <div class="about card">
        <div class="card__content">
            <div class="card__text small-caps">
                <h2>{{ card.text }}</h2>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<hr>
