---
layout: default
title: Coding
meta: Programming projects by Ben Buchanan.
---

{% include page-header.html icon-path="coding/coding-icon.svg" text="My Code Monkey Toys" %}

<p class="dark content__blurb">
This is where you can find my recreational programming projects. As you can
tell, I like to make TUI programs.
</p>

<hr>

<div class="card__stack">
    {% for card in site.data.coding_cards %}
    <a href="https://github.com/Nynergy/{{ card.title }}">
    <div class="coding card">
        <div class="card__content">
            <div class="card__text right-aligned small-caps">
                <h2>{{ card.title }}</h2>
                <p>{{ card.blurb }}</p>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<hr>
