---
layout: default
title: Artwork
meta: Original artwork and digital images by Ben Buchanan.
---

{% include page-header.html icon-path="artwork/artwork-icon.svg" text="My Whimsical Galleries" %}

<p class="dark content__blurb">
This is where you can look at the shapes and colors I make. Sometimes with a
keyboard and mouse, other times with more primitive instruments.
</p>

<hr>

<div class="card__stack">
    {% for card in site.data.artwork_cards %}
    <a href="/artwork/{{ card.title | slugify: 'ascii' }}/">
    <div class="artwork card">
        <div class="card__content">
            <div class="card__text small-caps">
                <h2>{{ card.title }}</h2>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<hr>
