---
layout: default
title: Music
meta: Original music by Ben Buchanan.
---

<div class="music-container">
    {% for card in site.data.music_cards %}
    {% case card.artist %}
        {% when 'Maps of Low Fidelity', 'Neuromelter' %}
        <div class="music-container__card">
            <div class="music-container__info pb-1">
                <h2>{{ card.artist }}</h2>
                <hr class="rule--light-magenta">
            </div>

            {% for album in card.albums %}
            <div class="music-container__album-showcase column">
                {{ album.embed }}
                <div>
                    <div>
                        <h3>{{ album.title }} ({{ album.year }})</h3>
                        <hr class="rule--light-magenta">
                    </div>

                    {% for text in album.blurbs %}
                    <p>{{ text }}</p>
                    {% endfor %}

                    <a class="colored-button"
                       href="{{ album.link }}">
                        Listen on Bandcamp&nbsp;&nbsp;<i class="fab fa-bandcamp"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% when 'Ben Buchanan' %}
        <div class="music-container__card">
            <div class="music-container__info pb-1">
                <h2>{{ card.artist }}</h2>
                <hr class="rule--light-magenta">
            </div>

            {% assign main-album = card.albums[0] %}
            <div class="music-container__album-showcase">
                {{ main-album.embed }}
                <div class="ml-1">
                    <div>
                        <h3>{{ main-album.title }} ({{ main-album.year }})</h3>
                        <hr class="rule--light-magenta">
                    </div>

                    {% for text in main-album.blurbs %}
                    <p>{{ text }}</p>
                    {% endfor %}

                    <a class="colored-button"
                       href="{{ main-album.link }}">
                        Listen on Bandcamp&nbsp;&nbsp;<i class="fab fa-bandcamp"></i>
                    </a>
                </div>
            </div>

            <div class="music-container__info py-1">
                <h3>Other Albums</h3>
                <hr class="rule--light-magenta">
            </div>

            <div class="music-container__discog">
                {% for album in card.albums %}
                {% if forloop.first == false %}
                <div class="music-container__album-showcase">
                    {{ album.embed }}
                    <div class="ml-1">
                        <div>
                            <strong>{{ album.title }} ({{ album.year }})</strong>
                            <hr class="rule--light-magenta">
                        </div>

                        {% for text in album.blurbs %}
                        <p>{{ text }}</p>
                        {% endfor %}

                        <a class="colored-button"
                           href="{{ album.link }}">
                            Listen on Bandcamp&nbsp;&nbsp;<i class="fab fa-bandcamp"></i>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endcase %}
    {% endfor %}
</div>
