---
layout: default
title: Blog
meta: Rambling blog posts by Ben Buchanan
---

{% include page-header.html icon-path="blog/blog-icon.svg" text="My Honest Thoughts" %}

<p class="dark content__blurb">
This is where you can read all the random diatribes and passionate ramblings I
decide to place here. Some may interest you, others not so much.
</p>

<hr>

<div class="card__stack">
    {% for post in site.categories.blog %}
    <a href="{{post.url}}">
    <div class="blog card">
        <div class="card__content">
            <div class="card__text right-aligned small-caps">
                <h2>{{ post.title }}</h2>
                <p class="hidden-mobile">{{ post.meta }}</p>
            </div>
            <div class="card__date">
                <h2>{{ post.date | date: "%b %d" }}</h2>
                <h3 class="year">{{ post.date | date: "%Y" }}</h3>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<hr>
