---
layout: default
title: Ben Buchanan
meta: Information about the music of Ben Buchanan.
---

<div class="music content__header">
    <a class="return" href="/music/">
        <img class="icon" src="/assets/return-icon.svg"/>
    </a>
    <a href="https://benbuchanan.bandcamp.com">
        <img id="bandcamp" class="logo" src="/assets/music/bandcamp-logo.svg"/>
    </a>
    <a href="https://www.youtube.com/channel/UCnWTmsuxOUfJYNEDGMFWmaw">
        <img id="youtube" class="logo" src="/assets/music/youtube-logo.svg"/>
    </a>

    <div no-hover class="dark card">
        <div class="card__content">
            <div class="card__text small-caps">
                <h2>Ben Buchanan</h2>
            </div>
        </div>
    </div>
</div>

<div class="music content__blurb">
    <p>
    The music I make under my own name can be a calm electronic ambient
    soundscape, an experimental warping of samples, an abrasive drone of noise
    and discordant voices, and more. It's whatever I feel like making. Most
    material is composed and recorded in VCV Rack, with a focus on generative
    composition, improvised performance, and modular synth soundplay.
    </p>

    <p>
    Official releases can be found on my Bandcamp, but I also post a lot of
    videos to my YouTube channel, whether they be live patch performances,
    Teletype scene overviews, audio visualizers, and plenty more you won't find
    on my Bandcamp.
    </p>
</div>

<hr>

<div no-hover id="discog__header" class="dark card">
    <div class="card__content left-justify">
        <div class="card__text small-caps">
            <h2>Discography</h2>
        </div>
    </div>
</div>

{% for album in site.data.album_info["Ben Buchanan"] %}
<div class="album__header">
    <img
        class="album__artwork"
        src="/assets/music/ben-buchanan/{{ album.title | slugify: ascii }}.jpg"
    />

    <div no-hover class="card">
        <div class="card__content">
            <div class="card__text small-caps">
                <h2>{{ album.title }}</h2>
            </div>
            <div class="card__date">
                <h3>{{ album.released | date: "%b %d" }}</h3>
                <h2 class="year">{{ album.released | date: "%Y" }}</h2>
            </div>
        </div>
    </div>
</div>

{{ album.embed | replace: "linkcol=e99708", "linkcol=fa8f38" }}

<div class="dark content__blurb">
    <p>{{ album.blurb }}</p>
</div>

<details class="tracklist">
    <summary class="tracklist__header">Tracklist</summary>
    {% if album.multidisc %}
        {% assign discnum = 1 %}
        {% assign tracknum = 1 %}
        {% for disc in album.discs %}
            <div class="tracklist__disc">Disc {{ discnum }}</div>
            {% assign discnum = discnum | plus: 1 %}

            {% for track in disc.tracks %}
                <div class="tracklist__track">{{ tracknum }}. {{ track }}</div>
                {% assign tracknum = tracknum | plus: 1 %}
            {% endfor %}
        {% endfor %}
    {% else %}
        {% assign tracknum = 1 %}
        {% for track in album.tracks %}
            <div class="tracklist__track">{{ tracknum }}. {{ track }}</div>
            {% assign tracknum = tracknum | plus: 1 %}
        {% endfor %}
    {% endif %}
</details>

<hr class="discog__break">
{% endfor %}
