<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
		integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
		<title>{% if page.title %}{{page.title}} | {% endif %}Lexica Chromatica{% if page.titleAfter %} | {{page.titleAfter}}{% endif %}</title>
		<link href="/css/main.css" rel="stylesheet">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<meta name="description" content="{{page.meta}}">
	</head>
	<body>

		<header class="masthead {{page.mastheadClass}}">
			<h1>Lexica Chromatica</h1>
			<p>Poetry, Music, and Other Strange Scrawlings</p>
			{% include nav.html navclass='nav-top' %}
		</header>

		<div class="main-container">
			{{content}}
		</div>

		<footer>
			{% include nav.html navclass='nav-bottom' %}
			<small>Copyright &copy; 2020 Lexica Chromatica</small>
		</footer>

	</body>
</html>
