---
layout: petrichor-base
---

<div class="ps-post">
    <h5>Act {{page.act}} :: Part {{page.part}}</h5>
    <h2>{{page.title}}</h2>
    <hr class="act-{{page.act}}">
    <div class="content">
        {{content}}
    </div>
    <hr class="act-{{page.act}}">
    {% if page.prev-part or page.next-part %}
    <div class="ps-links">
        {% if page.prev-part %}
        <a href="{{page.prev-part}}" class="ps-button prev act-{{page.act}}">Previous Part</a>
        {% endif %}
        {% if page.next-part %}
        <a href="{{page.next-part}}" class="ps-button next act-{{page.act}}">Next Part</a>
        {% endif %}
    </div>
    {% endif %}
</div>
