---
layout: prose
title: Prose
meta: Original short-form prose by Ben Buchanan.
mastheadClass: masthead-prose
---

<h2>Prose Collections</h2>
<hr>

<div class="prose-collection m-1" onclick="location.href='/prose/genuflectors'">
	<div class="collection-info">
		<a href="/prose/genuflectors"><h3>2Xth Century Genuflectors</h3></a>
		<p>Come listen in. Speaking tongues and teeth. These people are not to be trusted. They are within and without us.</p>
		<small>A series of altered futurist translations and obfuscated transmissions.</small>
	</div>
	<div class="collection-counter">
		<small>Number of Posts</small>
		{% assign counter = 0 %}
		{% for post in site.genuflectors %}
			{% assign counter = counter | plus: 1 %}
		{% endfor %}
		<p>{{counter}}</p>
	</div>
	<div class="collection-button">
		<a href="/prose/genuflectors" class="goto">View Collection</a>
	</div>
</div>

<hr>
<h2>Prose</h2>
<hr>

<div class="table-container bottom-table">
	<table>
		<thead>
			<tr>
				<th><h3>Title and Summary</h3></th>
				<th><h3>Posted</h3></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for post in site.categories.prose %}
			<tr class="{{post.category}}" onclick="location.href='{{post.url}}'">
				<td><div class="meta-container"><a href="{{post.url}}"></a><h4>{{post.title}}</h4><small>{{post.meta}}</small></div></td>
				<td><div class="posted-container">{{post.written}}</div></td>
				<td><div class="goto-container"><a href="{{post.url}}" class="goto"><i class="fas fa-angle-double-right"></i></a></div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
